# Ignorar diretório
node_modules/
package-lock.json
certificate/*
!certificate/server-cert.pem
!certificate/server-key.pem
!certificate/server-chain.pem
!certificate/ssl_password.txt
nginx/*
!nginx/conf/
nginx/conf/*
!nginx/conf/nginx.conf
# Ignorar arquivo .env
.env