<!-- change-password.ejs -->

<% if (response.error) { %>
  <div class="changePassword">
  <div class="error-message">
      <p><%= response.error %></p>
  </div>
</div>
<% } %>

<% if (response.renderForm) { %>
  <div class="formRegister">
      <h1>CHANGE PASSWORD</h1>
      <form class="registroForm" id="change-password">
          <!-- Campo csrf -->
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <span class="title">New Password</span>
          <input type="password" id="senha" placeholder="******" name="senha" required minlength="6">
          <li>Must have at least 6 characters.</li>
          <span class="title">Confirm password</span>
          <input type="password" id="confirmarSenha" name="confirmarSenha" placeholder="******" required minlength="6">
          <li>Please confirm the password.</li>
          <!-- Campo hCaptcha -->
          <div class="h-captcha" data-sitekey="<%= process.env.HCAPTCHA_SITE_KEY %>" data-theme="dark"></div>
          <button type="submit" id="submitButton">Change Password</button>
      </form>
<!-- Elemento do spinner de carregamento -->
<div id="loadingSpinner" style="display: none;">
    <img src="/images/spinner.svg" alt="Descrição da Imagem SVG">
    </div>
      <%- include('modal'); %>
  </div>
<% } %>
<script src="/scripts/register.js" defer></script>