<div class="confirmEmail">
    <% if (response.success) { %>
        <div class="success-message">
            <p><%= response.success %></p>
        </div>
    <% } %>

    <% if (response.error) { %>
        <div class="error-message">
            <p><%= response.error %></p>
        </div>
    <% } %>

    <% if (response.user) { %>
        <div class="user-details">
            <p>Username: <%= response.user.account %></p>
            <p>Email: <%= response.user.email %></p>
        </div>
    <% } %>
</div>