<footer>
    <div class="wrapper">
    <span class="line"></span>
    <div class="footerInfo">
    <div class="f-text">
    RYL Classic is a free-to-play MMORPG. All rights reserved. All other trademarks are the property of their respective owners.
    </div>
    </div>
    </footer>