<footer>
    <div class="wrapper">
    <div class="footerMenu flex">
    Aqui colocar social pages
    </div>
    <span class="line"></span>
    <div class="footerInfo">
    <div class="footerInfo-block flex-s">
    <div class="copy"><span>© 2024</span> - <a href="https://dominio.com">Dominio.com</a> - <span>All rights reserved</span></div>
    </div>
    <div class="f-text">
    SEO Google!
    </div>
    </div>
    </footer>