<div class="formRegister">
    <h1>RECOVERY ACCOUNT</h1>
    <form class="registroForm" id="forgot-password">
  <!-- Campo csrf -->
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  <span class="title">Email</span>
  <input type="email" id="email" placeholder="mail@domain.com" name="email" required>
  <li>Enter your email address.</li>
  <!-- Campo hCaptcha -->
  <div class="h-captcha" data-sitekey="<%= process.env.HCAPTCHA_SITE_KEY %>" data-theme="dark"></div>
  <button type="submit" id="submitButton">Recovery</button>
  </form>
<!-- Elemento do spinner de carregamento -->
<div id="loadingSpinner" style="display: none;">
  <img src="/images/spinner.svg" alt="Descrição da Imagem SVG">
  </div>
  <%- include('modal'); %>
  </div>
  <script src="/scripts/register.js" defer></script>
