<head>
    <meta charset="utf-8" />
    <title>RYL Classic</title>
    <meta name="keywords" content />
    <meta name="description" content />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="/styles/style.css" rel="stylesheet">
    <link href="/styles/mobile-style.css" rel="stylesheet">
    <script src="https://js.hcaptcha.com/1/api.js" async defer></script>
    <script src="/scripts/register.js" defer></script>
    <script src="/scripts/global.js" defer></script>
    </head>