<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RYL Classic</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <script src="https://js.hcaptcha.com/1/api.js" async defer></script>
    <script src="/scripts/register.js" defer></script>
    <script src="/scripts/global.js" defer></script>
    <link rel="stylesheet" href="/styles/style.css" />
    </head>