<header>
  <div class="topPanel">
    <div class="topPanel-wrapper flex-c">
    <div class="flex-c">
    <ul class="nav">
    <li><a href="/">Homepage</a></li>
    <li><a href="/register">Create Account</a></li>
    <li><a href="https://mega.nz/file/rbIHhKpb#V4Gxglrntm1flOIMt2yeYv8noNUEeFB07asMOHpZ9b8">Download</a></li>
    </div>
  </header>