<!DOCTYPE html>
<html lang="en">
  <%- include('head'); %>
<body>
<div class="wrapper register">
  <%- include('header'); %>
<main class="main">
  <div class="content">
    <div class="h2-title flex-s-c">
    <span>RYL Classic</span>
</main>
</div>
  <%- include('footer'); %>
</html>
