<div class="formRegister">
  <h1>NEW ACCOUNT</h1>
<form class="registroForm" id="register">
<!-- Campo csrf -->
<input type="hidden" name="_csrf" value="<%= csrfToken %>">
<span class="title">Username</span>
<input type="text" id="username" name="username" placeholder="your nickname" required maxlength="12" pattern="[a-zA-Z0-9]+">
<li>This is your nickname. Use only letters and numbers</li>
<span class="title">Email</span>
<input type="email" id="email" placeholder="mail@domain.com" name="email" required>
<li>Enter a valid email address for confirmation email.</li>
<span class="title">Password</span>
<input type="password" id="senha" placeholder="******" name="senha" required minlength="6">
<li>Must have at least 6 characters.</li>
<span class="title">Confirm password</span>
<input type="password" id="confirmarSenha" name="confirmarSenha" placeholder="******" required minlength="6">
<li>Please confirm the password.</li>
<!-- Campo hCaptcha -->
<div class="h-captcha" data-sitekey="<%= process.env.HCAPTCHA_SITE_KEY %>" data-theme="dark"></div>
<button type="submit" id="submitButton">Sign In Now</button>
</form>
<%- include('modal'); %>
</div>
<script src="/scripts/register.js" defer></script>