/* RESPONSIVIDADE NAVBAR CELULAR */
@media (max-width: 560px) {
    .nav {
      display: none;
    }
  
    .menu-toggle {
      display: block;
    }
  

    .nav.active {
        display: block; /* Altera a exibição da lista para blocos */
        position: fixed; /* Define a posição absoluta para alinhar à esquerda */
        top: 0; /* Alinha o topo da lista ao final do botão de menu */
        right: 0; /* Alinha a lista à esquerda da tela */
        background-color: #333; /* Cor de fundo da lista */
        bottom: 0;
      }
      
      .nav.active li {
        display: block; /* Altera a exibição de cada item da lista para blocos */
        margin-bottom: 10px; /* Adiciona um espaçamento inferior entre os itens da lista */
      }
      
      .nav.active li a {
        display: block; /* Faz com que os links ocupem toda a largura da lista */
        color: #fff; /* Cor do texto dos links */
        text-decoration: none; /* Remove a sublinhado dos links */
        background-color: transparent; /* Define o fundo inicial como transparente */
        transition: background-color 0.5s ease; /* Transição suave para a cor de fundo */
      }
      
        .nav.active li a.active {
            color: #c75959; /* Cor do texto dos links ativos */
        }

      .nav.active li a:hover {
        background-color: #2b1313; /* Cor de fundo dos links quando o mouse passa sobre eles */
      }
  }


  /* RESPONSIVIDADE NAVBAR CELULAR */