@import url(https://fonts.googleapis.com/css?family=Akronim);


body {
    font-family: Arial, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,1)), url('/images/background.jpg') no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
  }


main {
    text-align: center;
    height: 100vh;
  }



/* NAVBAR */
  header {
    background-color: #333;
    color: #fff;
    padding: 3vh;
    user-select: none;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: large;
    margin-right: auto;
  }
  
  .nav {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: auto;
    z-index: 1;
  }  
  
  .nav li a {
    color: #fff;
    text-decoration: none;
    background-color: transparent; /* Define o fundo inicial como transparente */
    transition: background-color 0.5s ease; /* Transição suave para a cor de fundo */
    padding: 3vh;
  }

  .nav li a:hover {
    background-color: #2b1313; /* Cor de fundo quando o mouse passa sobre */
  }
  
  .nav li a.active {
    color: #c75959; /* Por exemplo, muda a cor para vermelho */  }

  .menu-toggle {
    display: none;
    cursor: pointer;
  }



  .discord-logo {
    width: 5vh !important; /* Defina a largura desejada */
    height: auto !important; /* Deixe a altura auto para manter a proporção original da imagem */
    fill: #ffffff !important; /* Defina a cor de preenchimento desejada */
    transition: transform 0.3s ease; /* Adiciona uma transição suave */

  }

    /* Quando o mouse passa por cima, aplica uma transformação de escala */
.discord-logo:hover {
  transform: scale(1.2); /* Aumenta a escala em 20% */
}



/* RESPONSIVIDADE NAVBAR CELULAR */
@media (max-width: 560px) {
    .nav {
      display: none;
    }
  
    .menu-toggle {
      display: block;
    }
  

    .nav.active {
        display: block; /* Altera a exibição da lista para blocos */
        position: fixed; /* Define a posição absoluta para alinhar à esquerda */
        top: 0; /* Alinha o topo da lista ao final do botão de menu */
        right: 0; /* Alinha a lista à esquerda da tela */
        background-color: #333; /* Cor de fundo da lista */
        bottom: 0;
      }
      
      .nav.active li {
        display: block; /* Altera a exibição de cada item da lista para blocos */
        margin-bottom: 10px; /* Adiciona um espaçamento inferior entre os itens da lista */
      }
      
      .nav.active li a {
        display: block; /* Faz com que os links ocupem toda a largura da lista */
        color: #fff; /* Cor do texto dos links */
        text-decoration: none; /* Remove a sublinhado dos links */
        background-color: transparent; /* Define o fundo inicial como transparente */
        transition: background-color 0.5s ease; /* Transição suave para a cor de fundo */
      }
      
        .nav.active li a.active {
            color: #c75959; /* Cor do texto dos links ativos */
        }

      .nav.active li a:hover {
        background-color: #2b1313; /* Cor de fundo dos links quando o mouse passa sobre eles */
      }
  }


  /* RESPONSIVIDADE NAVBAR CELULAR */
/* NAVBAR */

/* FOOTER */
  footer {
    display: block;
    background-color: #333;
    color: #744b4b;
    text-align: center;
    font-size: small;
    user-select: none;
    position: static;
    width: 100%;
    bottom: 0;
  }
/* FOOTER */


/* REGISTER */
/* MODAL */

        /* CSS para a camada de fundo do modal */
        .modal-background {
          display: none;
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.5); /* Transparência */
          z-index: 2; /* Z-index menor do que o modal */
          backdrop-filter: blur(5px); /* Adiciona um efeito de borrão ao fundo */
      }

.modal {
    display: none;
    position: absolute;
    top: 25%;
    right: 25%;
    left: 25%;
    z-index: 3; /* Z-index alto para garantir que fique sobreposto */
  }
  
  .modal-content {
    background-color: #333;
    padding: 20px;
    box-sizing: border-box; /* Garante que o padding não aumente o tamanho total do conteúdo */
    color: #fff;
    user-select: none;
  }
  
  .formRegister .close {
    position: absolute;
    top: 0;
    right: 10px;
    color: #aaa;
    font-size: xx-large; /* Reduz o tamanho do botão */
    cursor: pointer;
  }
  
  .formRegister .close:hover,
  .formRegister .close:focus {
    color: black;
    text-decoration: none;
  }
/* MODAL */



  /* SPINNER LOADING */
.spinner-border {
    width: 3rem; /* Largura do spinner */
    height: 3rem; /* Altura do spinner */
    border-width: 0.25em; /* Largura da borda */
  }
  
  /* Cor do spinner de carregamento */
  .text-primary {
    color: #ff0000; /* Cor azul primária */
  }
  
  /* Centralizar o spinner de carregamento */
  #loadingSpinner {
    text-align: center; /* Alinhar o conteúdo ao centro */
    margin-top: 20px; /* Margem superior */
  }
    /* SPINNER LOADING */


  .formRegister {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 18vh;
  }

  .formRegister #registroForm {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.formRegister li {
    list-style-type: none; /* Remove os marcadores de lista */
    font-size: small;
    color: grey;
    margin-bottom: 20px;
    opacity: 0.5;
    user-select: none;
}

.formRegister button {
    cursor: pointer;
    font-size: large;
    background-color: #000000;
    color: #fff;
    box-shadow: 0 0 20px 5px rgba(255, 42, 42, 0.2);
    transition: box-shadow 0.3s; /* Adiciona uma transição suave para o efeito */
    border: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    width: 100%;
    height: 10vh;
    margin-top: 5vh;
    user-select: none;
}

.formRegister button:hover {
    box-shadow: 0 0 40px 10px rgba(255, 42, 42, .4); /* Aumenta o deslocamento da sombra quando o mouse está sobre o botão */
}
  


.formRegister .title {
    color: #696868;
    font-size: medium;
    z-index: 1;
    display: block;
    padding: 5px;
    text-transform: uppercase;
    user-select: none;
}


.formRegister input, textarea {
    background: #040609;
    border: 1px solid #36383a;
    color: #fff;
    position: relative;
    font-size: medium;
    transition: .3s;
    width: 100%;
    font-family: open sans, sans-serif;
    padding: 0;
    padding-block: 5px;
    padding-inline: 5px;
}

.formRegister input:hover {
  box-shadow: 0 0 40px 10px rgb(255, 42, 42, .4) /* Aumenta o deslocamento da sombra quando o mouse está sobre o botão */
}

.formRegister input:focus {
  outline: none; /* Remove a borda padrão do navegador */
  border: 1px solid rgba(255, 255, 255); /* Define a cor da borda ao focar */
}
/* REGISTER */

/* INDEX */
.indexText {
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}



.fire {
    margin: 50px auto;
    width: 80%;
    max-width: 1000px;
    height: 200px;
    background-position: center center;
    background-size: 1000px 200px;
    border-radius: 10px;
    font-family: 'Akronim';
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    user-select: none;
}

.fire:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.Blazing {
    display: inline-block;
    margin: 0;
    color: rgb(255, 115, 0);
    font-size: 100px;
    line-height: 50px;
    min-width: 50px;
    outline: none;
    vertical-align: middle;
    text-shadow:
        0 3px 20px red,
        0 0 20px red,
        0 0 10px orange,
        4px -5px 6px yellow,
        -4px -10px 10px yellow,
        0 -10px 30px yellow;
    animation: 2s Blazing infinite alternate linear;
}

@keyframes Blazing {
    0% {
        text-shadow: 0 3px 20px red, 0 0 20px red,
            0 0 10px orange,
            0 0 0 yellow,
            0 0 5px yellow,
            -2px -5px 5px yellow,
            4px -10px 10px yellow;
    }
    25% {
        text-shadow: 0 3px 20px red, 0 0 30px red,
            0 0 20px orange,
            0 0 5px yellow,
            -2px -5px 5px yellow,
            3px -10px 10px yellow,
            -4px -15px 20px yellow;
    }
    50% {
        text-shadow: 0 3px 20px red, 0 0 20px red,
            0 -5px 10px orange,
            -2px -5px 5px yellow,
            3px -10px 10px yellow,
            -4px -15px 20px yellow,
            2px -20px 30px rgba(255, 255, 0, 0.5);
    }
    75% {
        text-shadow: 0 3px 20px red, 0 0 20px red,
            0 -5px 10px orange,
            3px -5px 5px yellow,
            -4px -10px 10px yellow,
            2px -20px 30px rgba(255, 255, 0, 0.5),
            0px -25px 40px rgba(255, 255, 0, 0)
    }
    100% {
        text-shadow: 0 3px 20px red, 0 0 20px red,
            0 0 10px orange,
            0 0 0 yellow,
            0 0 5px yellow,
            -2px -5px 5px yellow,
            4px -10px 10px yellow;
    }
}

/* Media query para ajustar o tamanho do texto em telas menores */
@media screen and (max-width: 846px) {
    .Blazing {
        font-size: 50px; /* Ajusta o tamanho do texto para telas menores */
    }
}

@media screen and (max-width: 434px) {
  .Blazing {
      font-size: 20px; /* Ajusta o tamanho do texto para telas menores */
  }
}

/* INDEX */


/* CONFIRM EMAIL */
.confirmEmail {

  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  font-size: large;
  }
/* CONFIRM EMAIL */
