@import url(https://fonts.googleapis.com/css?family=Akronim);
@import url(firelogo.css);
@import url(sparks.css);

html {

}

/* Estiliza a barra de rolagem vertical */
body::-webkit-scrollbar {
  width: 5px; /* Largura da barra de rolagem vertical */
  position: sticky; /* Mantém a barra de rolagem visível mesmo quando não está rolando */
  background-color:darkred;
}

/* Estiliza o botão de rolagem para cima e para baixo */
body::-webkit-scrollbar-button {
  display: none; /* Oculta os botões de rolagem */
}

/* Estiliza a área de rolagem */
body::-webkit-scrollbar-track {
  background-color: transparent; /* Cor de fundo da área de rolagem */
}

/* Estiliza o indicador da posição atual de rolagem */
body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.8 ); /* Cor do indicador da posição atual de rolagem */
  border-radius: 10px; /* Raio da borda do indicador */
}

/* Estiliza a borda da barra de rolagem */
body::-webkit-scrollbar-track-piece:end {
  margin-bottom: -20px; /* Compensa o espaç o ocupado pela barra de rolagem */
}


body {
    font-family: Arial, sans-serif;
    color: white;
    margin: 0;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,1)), url('/images/background.jpg') no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    overflow-y: auto;
    overflow-x: hidden;
  }

 main {

  }

/* NAVBAR */
  header {

    color: #fff;
    user-select: none;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5vh;
    border-bottom: 2px ridge #cccccc3f;
  }
  
  .nav {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: auto;
    z-index: 1;
  }
  
  .nav ul {
    display: flex;
    margin: 0;
    padding-inline-start: 0;
  }
  
  .nav li {
    background-color: transparent; /* Define o fundo inicial como transparente */
    transition: background-color 0.5s ease; /* Transição suave para a cor de fundo */
    overflow: hidden;
    text-align: center;
  }
  
  .nav li a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: large;
    box-sizing: border-box;
    padding: 5vh;
    width: 45vh;
  }
  
  .nav li:hover {
    background-color: #2b1313; /* Cor de fundo quando o mouse passa sobre */
  }
  
  .nav li a.active {
    color: #c75959; /* Por exemplo, muda a cor para vermelho */
  }

  .menu-toggle {
    display: none;
    cursor: pointer;
  }

  
  .logo {
    margin-right: auto;
  }

  .discord-logo {
    width: 8vh !important; /* Defina a largura desejada */
    height: auto !important; /* Deixe a altura auto para manter a proporção original da imagem */
    fill: #ffffff !important; /* Defina a cor de preenchimento desejada */
    transition: transform 0.3s ease; /* Adiciona uma transição suave */

  }

    /* Quando o mouse passa por cima, aplica uma transformação de escala */
.discord-logo:hover {
  transform: scale(1.2); /* Aumenta a escala em 20% */
}

/* NAVBAR */

/* FOOTER */
  footer {
    display: none;
    background-color: #333;
    color: #744b4b;
    text-align: center;
    font-size: small;
    user-select: none;
    width: 100%;
    position: fixed;
    bottom: 0; 
  }
/* FOOTER */


/* REGISTER */
/* MODAL */

        /* CSS para a camada de fundo do modal */
        .modal-background {
          display: none;
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;

          background-color: rgba(0, 0, 0, 0.5); /* Transparência */
          z-index: 2; /* Z-index menor do que o modal */
          backdrop-filter: blur(5px); /* Adiciona um efeito de borrão ao fundo */
      }

.modal {
    display: none;
    position: absolute;
    top: 25%;
    right: 25%;
    left: 25%;
    z-index: 3; /* Z-index alto para garantir que fique sobreposto */
  }
  
  .modal-content {
    background-color: #333;
    padding: 20px;
    box-sizing: border-box; /* Garante que o padding não aumente o tamanho total do conteúdo */
    color: #fff;
    user-select: none;
  }
  
  .formRegister .close {
    position: absolute;
    top: 0;
    right: 10px;
    color: #aaa;
    font-size: xx-large; /* Reduz o tamanho do botão */
    cursor: pointer;
  }
  
  .formRegister .close:hover,
  .formRegister .close:focus {
    color: black;
    text-decoration: none;
  }
/* MODAL */



  /* SPINNER LOADING */
.spinner-border {
    width: 3rem; /* Largura do spinner */
    height: 3rem; /* Altura do spinner */
    border-width: 0.25em; /* Largura da borda */
  }
  
  /* Cor do spinner de carregamento */
  .text-primary {
    color: #ff0000; /* Cor azul primária */
  }
  
  /* Centralizar o spinner de carregamento */
  #loadingSpinner {
    text-align: center; /* Alinhar o conteúdo ao centro */
    margin-top: 20px; /* Margem superior */
  }
    /* SPINNER LOADING */


  .formRegister {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 5%;
  }

  .formRegister h1 {
    color: grey;
    font-size: xx-large;
    margin-bottom: 6vh;
    user-select: none;
  }

  .formRegister .registroForm {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.formRegister li {
    list-style-type: none; /* Remove os marcadores de lista */
    font-size: small;
    color: grey;
    margin-bottom: 20px;
    opacity: 0.5;
    user-select: none;
}

.formRegister button {
    cursor: pointer;
    font-size: large;
    background-color: #000000;
    color: #fff;
    box-shadow: 0 0 20px 5px rgba(255, 42, 42, 0.2);
    transition: box-shadow 0.3s; /* Adiciona uma transição suave para o efeito */
    border: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    width: 100%;
    height: 10vh;
    margin-top: 5vh;                  
    user-select: none;
}

.formRegister button:hover {
    box-shadow: 0 0 40px 10px rgba(255, 42, 42, .4); /* Aumenta o deslocamento da sombra quando o mouse está sobre o botão */
}
  


.formRegister .title {
    color: #696868;
    font-size: medium;
    z-index: 1;
    display: block;
    padding: 5px;
    text-transform: uppercase;
    user-select: none;
}


.formRegister input, textarea {
    background: #040609;
    border: 1px solid #36383a;
    color: #fff;
    position: relative;
    font-size: medium;
    transition: .3s;
    width: 100%;
    font-family: open sans, sans-serif;
    padding: 0;
    padding-block: 5px;
    padding-inline: 5px;
}

.formRegister input:hover {
  box-shadow: 0 0 40px 10px rgb(255, 42, 42, .4) /* Aumenta o deslocamento da sombra quando o mouse está sobre o botão */
}

.formRegister input:focus {
  outline: none; /* Remove a borda padrão do navegador */
  border: 1px solid rgba(255, 255, 255); /* Define a cor da borda ao focar */
}
/* REGISTER */

/* INDEX */
.indexText {

}
/* INDEX */



/* CONFIRM EMAIL */
.confirmEmail {

  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  font-size: large;
  }
/* CONFIRM EMAIL */

/* CHANGE PASSWORD */
.changePassword {

  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  font-size: large;
  }
/* CHANGE PASSWORD */


